In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import shutil
from datetime import datetime, timedelta

import yfinance as yf

<p style='text-align: center; color: skyblue; font-size: 50px;'>SQL</p>

In [2]:
from SQL_functions import *

All tickers

In [4]:
database = '../StockMarket.db' #../StockMarket.db #StockMarket_backup.db
conn = sqlite3.connect('../StockMarket.db')

all_tickers = pd.read_sql_query("SELECT ticker FROM Companies;", conn)
all_tickers.to_csv('tickers_backup.csv', index=False)
print(all_tickers)

conn.close()

   ticker
0    AAPL
1    ABNB
2    ADBE
3    AMZN
4   BRK-B
5   GOOGL
6    MELI
7    META
8    MSFT
9    NVDA
10    PEP
11    SAN
12   TSLA
13    YPF

<p style='text-align: center; font-size: 30px; color: orange;'>Insertar, actualizar y eliminar datos</p>

<p style='font-size: 25px; text-align: center; color: violet;'>Agregar empresa</p>

In [5]:
#Add all companies from the csv file
'''
add_tickers = pd.read_csv('tickers_backup.csv')
for ticker in add_tickers['ticker']:
    insert_company(ticker, '../StockMarket.db')
'''

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

<p style='font-size: 25px; text-align: center; color: violet;'>Crear, eliminar, agregar datos, backup database</p>

In [9]:
database = "../StockMarket.db"
#database =  "StockMarket_backup.db" 

#create_database(database)

#company_ticker = str(input('Enter the company ticker: '))
#insert_company(company_ticker, database)

#ticker = str(input("Enter the company ticker for delete in database: "))
#delete_company(ticker, database)

#delete_database(database)
#delete_data(database)

#backup_database("../StockMarket.db")

#ticker = str(input("Enter the company ticker for update data: "))
#update_stock_quotes(ticker, database)

#update_all_stock_quotes(database)

---

<p style="font-size: 50px; text-align: center;">Desarrollo</p>

---
---

In [4]:
conn = sqlite3.connect('StockMarket_backup.db')
cursor = conn.cursor()

company_id = pd.read_sql_query("SELECT id FROM Companies WHERE ticker = ?", conn, params=['AAPL'])

conn.close()

print(company_id)

   id
0   1

---
---
---

In [7]:
data = yf.Ticker("AAPL").info
print(data.get('exchange'), "NMS = NASDQ")
data

NMS NMS = NASDQ

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '408 996 1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 161000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 62,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 16239562,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 60,
   'title': 'CFO & Senior VP',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 4612242,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 59,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4637585,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 59,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4618064,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 56,
   'title': 'Senior Vice President of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 4613369,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James  Wilson',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 49,
   'title': 'Head of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 5,
 'boardRisk': 1,
 'compensationRisk': 4,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1724803200,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://investor.apple.com/',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 229.79,
 'open': 230.0,
 'dayLow': 227.48,
 'dayHigh': 230.4,
 'regularMarketPreviousClose': 229.79,
 'regularMarketOpen': 230.0,
 'regularMarketDayLow': 227.48,
 'regularMarketDayHigh': 230.4,
 'dividendRate': 1.0,
 'dividendYield': 0.0044,
 'exDividendDate': 1723420800,
 'payoutRatio': 0.1476,
 'fiveYearAvgDividendYield': 0.66,
 'beta': 1.244,
 'trailingPE': 34.855404,
 'forwardPE': 30.614973,
 'volume': 52333542,
 'regularMarketVolume': 52333542,
 'averageVolume': 63487603,
 'averageVolume10days': 39757870,
 'averageDailyVolume10Day': 39757870,
 'bid': 218.56,
 'ask': 228.91,
 'bidSize': 100,
 'askSize': 100,
 'marketCap': 3481738936320,
 'fiftyTwoWeekLow': 164.08,
 'fiftyTwoWeekHigh': 237.23,
 'priceToSalesTrailing12Months': 9.029335,
 'fiftyDayAverage': 221.5976,
 'twoHundredDayAverage': 194.10675,
 'trailingAnnualDividendRate': 0.97,
 'trailingAnnualDividendYield': 0.0042212456,
 'currency': 'USD',
 'enterpriseValue': 3521250328576,
 'profitMargins': 0.26441,
 'floatShares': 15179810381,
 'sharesOutstanding': 15204100096,
 'sharesShort': 121598771,
 'sharesShortPriorMonth': 135383184,
 'sharesShortPreviousMonthDate': 1721001600,
 'dateShortInterest': 1723680000,
 'sharesPercentSharesOut': 0.008,
 'heldPercentInsiders': 0.02703,
 'heldPercentInstitutions': 0.60862,
 'shortRatio': 2.19,
 'shortPercentOfFloat': 0.008,
 'impliedSharesOutstanding': 15256599552,
 'bookValue': 4.382,
 'priceToBook': 52.259243,
 'lastFiscalYearEnd': 1696032000,
 'nextFiscalYearEnd': 1727654400,
 'mostRecentQuarter': 1719619200,
 'earningsQuarterlyGrowth': 0.079,
 'netIncomeToCommon': 101956001792,
 'trailingEps': 6.57,
 'forwardEps': 7.48,
 'pegRatio': 3.09,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 9.132,
 'enterpriseToEbitda': 26.72,
 '52WeekChange': 0.20716918,
 'SandP52WeekChange': 0.2560848,
 'lastDividendValue': 0.25,
 'lastDividendDate': 1723420800,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 229.0,
 'targetHighPrice': 300.0,
 'targetLowPrice': 183.86,
 'targetMeanPrice': 236.86,
 'targetMedianPrice': 240.0,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 39,
 'totalCash': 61801000960,
 'totalCashPerShare': 4.065,
 'ebitda': 131781001216,
 'totalDebt': 101304000512,
 'quickRatio': 0.798,
 'currentRatio': 0.953,
 'totalRevenue': 385603010560,
 'debtToEquity': 151.862,
 'revenuePerShare': 24.957,
 'returnOnAssets': 0.22612,
 'returnOnEquity': 1.60583,
 'freeCashflow': 86158123008,
 'operatingCashflow': 113040998400,
 'earningsGrowth': 0.111,
 'revenueGrowth': 0.049,
 'grossMargins': 0.45962003,
 'ebitdaMargins': 0.34175,
 'operatingMargins': 0.29556,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.2271}

In [4]:
data = yf.download("AAPL")
data = data.round(3)
data

[*********************100%%**********************]  1 of 1 completed

               Open     High      Low    Close  Adj Close     Volume
Date
1980-12-12    0.128    0.129    0.128    0.128      0.099  469033600
1980-12-15    0.122    0.122    0.122    0.122      0.094  175884800
1980-12-16    0.113    0.113    0.113    0.113      0.087  105728000
1980-12-17    0.116    0.116    0.116    0.116      0.089   86441600
1980-12-18    0.119    0.119    0.119    0.119      0.092   73449600
...             ...      ...      ...      ...        ...        ...
2024-08-26  226.760  227.280  223.890  227.180    227.180   30602200
2024-08-27  226.000  228.850  224.890  228.030    228.030   35934600
2024-08-28  227.920  229.860  225.680  226.490    226.490   38052200
2024-08-29  230.100  232.920  228.880  229.790    229.790   51906300
2024-08-30  230.190  230.400  227.480  229.000    229.000   52958500

[11021 rows x 6 columns]